{% extends 'base.html.twig' %}

{% block body %}

<main>
    <section id="img4"></section>

    {% for produit in produits %}
        <section class="produit">
            <img class="imgpro" src="{{ asset('/uploads/'~produit.photo) }}" alt="" width="150">
            <div class="txtpro">
                <h3>Produit : {{ produit.nomProduit }}</h3>
                <p>Prix : {{ produit.prix }}</p>
            </div>
        </section>
        {% endfor %}
</main>

{% endblock %}