{% extends 'base.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/style_crud.css') }}"/>

<main>
    <h1>Modifier produit</h1>

    {{ include('produit/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('produit/_delete_form.html.twig') }}
    
    <a href="{{ path('app_produit_index') }}">Retour à la liste</a>

</main>
{% endblock %}
