{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/style_crud.css') }}"/>

<main>

    <h1>Modifier la categorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('categorie/_delete_form.html.twig') }}   

    <a href="{{ path('app_categorie_index') }}">Retour à la liste</a>

</main>
    
{% endblock %}
